<section style="margin-top: 10rem;">
  <p-card [style]="{ margin: '1rem 4rem', border: '1px solid #d1d5db' }">
    <form class="grid formgrid">
      <div class="field col-3">
        <label class="fw-semibold">Especialidades</label>
        <p-dropdown
          [options]="specialtyOptions"
          appendTo="body"
          [style]="{ width: '100%' }"
          optionLabel="value"
        ></p-dropdown>
      </div>
      <div class="field col-2">
        <p-button
          label="Buscar"
          [style]="{ marginTop: '32px', width: '100%', borderRadius: '6px'}"
        ></p-button>
      </div>
      <div class="field col-2">
          <p-button
            label="Puntuación"
            [icon]="descendantPunctuation ? 'pi pi-arrow-down' : 'pi pi-arrow-up'"
            iconPos="right"
            [style]="{ width: '100%', marginTop: '32px', borderRadius: '6px', marginLeft: '10rem' }"
            (onClick)="sortPunctuation()"
          ></p-button>
        </div>
        <div class="field col-2">
          <p-button
            label="Precio"
            [icon]="descendantPrice ? 'pi pi-arrow-down' : 'pi pi-arrow-up'"
            iconPos="right"
            [style]="{ width: '100%', marginTop: '32px', borderRadius: '6px', marginLeft: '12rem' }"
            (onClick)="sortPrice()"
          ></p-button>
        </div>
      </form>
  </p-card>
</section>
