.RegisterContainer {
    .container {
        width: 80%;
        border: 2px solid gray;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        gap: 32px;

        padding: 16px;

        .selectRol {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 16px;
            width: 100%;

            p {
                display: inline-block;
                margin: 0;
            }

            .seccionBtn {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;

                gap: 8px;
                justify-content: center;
                align-items: center;

                .btn-select {
                    color: white;
                    background-color: blue;
                }

                .btn-unselect {
                    color: black;
                    background-color: white;
                    opacity: 0.5;
                }

                button:hover {
                    opacity: 1 !important;
                }
            }

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 12px;

            // funciona
            // ::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
            //     color: black;
            // }

            // funciona
            // ::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label:hover {
            //     font-weight: 700;
            // }

            #chipElement {
                background-color: #c2c8f577;
            }

            #chipElement:hover {
                color:black;
                background-color: #dbdfff;

                ::ng-deep .mat-mdc-chip.mdc-evolution-chip--with-trailing-action .mat-mdc-chip-action-label {
                    font-weight: 700;
                }
            }
            
            // ::ng-deep .mdc-evolution-chip__text-label mat-mdc-chip-action-label:hover {
            //     color: black;
            //     font-weight: 500;
            // }

            .form-patient {
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                gap: 32px;

                &__content1{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    flex: 1;

                    &__work {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 16px;

                        .field { 
                            min-width: 200px;
                            flex:1;
                        }
                    }
                }

                &__content2 {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;

                    > * {
                        flex: 1;
                        max-width: 500px;
                    }
                }
            }

        }
    }
}