<div class="RegisterContainer">
    <div class="container">
        <section class="selectRol">
            <p>Desea registrarse como:</p>
            <div class="seccionBtn">
                <button mat-raised-button [ngClass]="{
                    'btn-select': showForm === selectedRol.patient,
                    'btn-unselect': showForm !== selectedRol.patient
                  }" [ngStyle]="{ opacity: showForm === selectedRol.professional ? 0.5 : 1 }"
                    (click)="selectPacient()">Paciente</button>
                <p>ó</p>
                <button mat-raised-button [ngClass]="{
                    'btn-select': showForm === selectedRol.professional,
                    'btn-unselect': showForm !== selectedRol.professional
                  }" [ngStyle]="{ opacity: showForm === selectedRol.patient ? 0.5 : 1 }"
                    (click)="selectProfessional()">Professional</button>
            </div>
        </section>
        @if (this.showTouched && this.register) {
        <form [formGroup]="register" (ngSubmit)="send()">

            <!-- name -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
                @if (register.get('name')?.hasError('required')) {
                    <mat-error>Name is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <!-- email -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                @if (register.get('email')?.hasError('email') && !register.get('email')?.hasError('required')) {
                <mat-error>Please enter a valid email address</mat-error>
                }
                @if (register.get('email')?.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <!-- password -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Password</mat-label>
                <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button type="button" matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
                  <mat-icon>{{!showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (register.get('password')?.hasError('required')) {
                    <mat-error>Password is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <!-- professional -->
            @if (this.showForm == this.selectedRol.professional) {
                <!-- mp -->
                <mat-form-field appearance="outline" class="">
                    <mat-label>MP</mat-label>
                    <input type="text" matInput formControlName="mp" placeholder="Ex. mp">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    @if (register.get('mp')?.hasError('required')) {
                    <mat-error>Mp is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <!-- especialidades [] -->
                <mat-form-field appearance="outline" class="">
                    <mat-label>Seleccione una especialidad</mat-label>
                    <mat-select (selectionChange)="addSpecialty($event.value)">
                        @for (spec of this.specAvailable; track $index) {
                            <mat-option [value]="spec">
                                {{ spec }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" class="">
                    <mat-label>Especialidades</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      @for (spec of this.specAvailable;track $index) {
                        <mat-option [value]="spec">{{spec}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field> -->

                @if (this.specSelect.length > 0) {
                    <p>Especialidades seleccionadas:</p>
                    <mat-chip-set>
                        @for (spec of this.specSelect; track $index) {
            
                            <mat-chip [removable]="true" id="chipElement" (removed)="DeleteSpecialty(spec)">
                                {{ spec }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        }
                    </mat-chip-set>
                }

            }

            <!-- patient -->
            @if (this.showForm == this.selectedRol.patient) {
                <!-- cellphone -->
                <mat-form-field appearance="outline" class="">
                    <mat-label>cellphone</mat-label>
                    <input type="tel" matInput formControlName="cellphone" placeholder="Ex. 937445581">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    @if (register.get('cellphone')?.hasError('required')) {
                    <mat-error>Cellphone is <strong>required</strong></mat-error>
                    }
                </mat-form-field>

                <!-- photo -->


                @if (this.hasWorkAdded) {
                    <!-- hasWork -->
                    <mat-checkbox formControlName="hasWork" color="primary">¿Tiene trabajo social?</mat-checkbox>
   
                    <!-- socialWork -->
                    <mat-form-field appearance="outline" class="">
                        <mat-label>Social work</mat-label>
                        <input matInput formControlName="socialWork" placeholder="Trabajo Social" [disabled]="!register.get('hasWork')?.value">
                        @if (register.get('socialWork')?.hasError('required') && register.get('hasWork')?.value) {
                            <mat-error>Social Work is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                }

            }

            <button mat-raised-button type="submit" color='primary' [ngClass]="showTouched ? 
                            'btn-select':'btn-unselect'">Enviar</button>
        </form>

        }
    </div>


</div>