@import './../../../../scss/variables.scss';

.menuV1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;

    // min-height: calc(100vh - 64px);
    height: 100%;

    background-color: $color-11;

    ul {
        list-style-type: none;
        padding: 0 8px;
        li {

            a {
                color: $text-light1;
                text-decoration: none;
            }

            :hover {
                background-color: $button-fondo-hover1;
            }
        }
    }
}