$close_btn_size: 25px;

nav {
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  max-width: 500px;
  width: 60%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .logo_rdbn {
    display: none;
    height: 60px;
    margin: 15px 0;
    object-fit: scale-down;
  }

  .header_sect {
    width: 100%;
    background-color: #00339F;
    padding: 15px;
    color: #fff;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .close_sect {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: 40px;
      }

      .btn_close {
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        padding: 7.5px;
        display: flex;

        mat-icon {
          width: $close_btn_size;
          height: $close_btn_size;
          font-size: $close_btn_size;
        }
      }
    }

    .info_sect {
      display: flex;
      flex-direction: column;
      padding: 0 15px;

      h2 {
        font-size: 1.5rem;
        margin: 0;
      }
    }
  }

  .routing_list, .footer_sect {
    padding: 0 20px;
  }

  .routing_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    a {
      width: 100%;
      height: 30px;
      display: flex;
      font-size: 15px;
      font-weight: 500;
      color: #5e5e5e;
      text-decoration: none;
      flex-direction: row;
      align-items: center;
      padding: 25px 15px;
      transition: all ease 0.2s;
      border-radius: 10px;
      box-sizing: border-box;
      gap: 25px;

      mat-icon {
        height: 30px;
        font-size: 30px;
      }

      &:hover {
        background-color: white;
        color: #333;

        mat-icon {
          color: #FE502F;
        }
      }
    }
  }

  .footer_sect {
    margin-top: auto;
    margin-bottom: 10px;
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;

    hr {
      width: 100%;
      border: 1px solid #999;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 1189px) {
    .logo_rdbn {display: flex;}
    .header_sect {display: none;}
    .footer_sect {display: none;}
  }
}

.link-active {
  background-color: white;
  color: #333;

  mat-icon {
    color: #FE502F;
  }
}