@for (service of services; track $index) {
  <div class="card">
    <section class="w-100 text-center" style="width: 12.5rem; height: 15.5rem;">
      <!-- <p-avatar
        label="I"
        styleClass="my-4"
        size="xlarge"
        shape="circle"
      /> -->
      <div class="icon"></div>
    </section>
    <section>
      <p class="fw-bold text-center my-5">
        {{ service.title }}
      </p>
    </section>
    <section>
      <p class="fw-normal text-center" style="text-wrap: pretty;">
        {{ service.description }}
      </p>
    </section>
  </div>
}
