<div class="LoginContainer">
  <div class="divImage">
    <!-- image -->
    <div></div>
  </div>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      @if (errorMessage) {
        <div class="alert alert-danger ">
          {{ errorMessage }}
        </div>
      }
      <!-- title -->
      <div class="form-title">
        <h1>Bienvenido a DocSpot</h1>
        <div class="slogan">
          <!-- <p>Tu médico siempre contigo, en tu móvil.</p> -->
          <p>Atención médica personalizada,</p>
          <p>a tu alcance.</p>
        </div>
      </div>

      <!-- input email -->
      <div class="form-group">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Correo electrónico"
        />
        @if ( loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched ) {
        <div class="text-danger">
          @if (loginForm.controls['email'].errors?.['required']) {
          <div class="errors">El correo electrónico es <strong>obligatorio</strong>.</div>
          } @else if (loginForm.controls['email'].errors?.['email']) {
          <div class="errors">Ingrese un correo electrónico <strong>válido</strong>.</div>
          }
        </div>
        }
      </div>

      <!-- input password -->
      <div class="form-group">
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-control"
            placeholder="Contraseña"
            >
          <button
            type="button"
            class="btn btn-outline-secondary d-flex align-items-center justify-content-center"
            (click)="togglePasswordVisibility()"
          >
            <i class="material-icons">
              {{ showPassword ? "visibility_off" : "visibility" }}
            </i>
          </button>
        </div>

        @if (
          loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
        ) {
          <div class="text-danger">
            @if (loginForm.controls['password'].errors?.['required']) {
              <div class="errors">
                La contraseña es <strong>obligatoria</strong> .
              </div>
            } @else if (loginForm.controls['password'].errors?.['minlength']) {
              <div class="errors">
                La contraseña debe tener al menos 6 caracteres.
              </div>
            }
          </div>
        }
        

      </div>

      <!-- buttons section -->
      <div class="form-buttons">

        <button mat-raised-button color="primary" type="submit" class="btn btn-primary btn-login">
          @if (loading){
            <mat-progress-spinner diameter="24"  mode="indeterminate" class="spinner"></mat-progress-spinner>
          }
          <span [ngClass]="!loading ? 'text1':'text2'">Iniciar sesión</span>
        </button>

        <span class="mt-5">
          Aún no tienes una cuenta.
        </span>
        <span class="">
          <a (click)="navRegister()">Registrate aqui</a>
        </span>

        <!-- <button mat-raised-button 
        (click)="navRegister()" 
        class="btn btn-outline-secondary btn-register">
          <span>Registrarse</span>
        </button> -->
      </div>
        
    </form>
  </div>
</div>