<footer class="container-fluid d-flex justify-content-between align-items-center bg-white z-1 overflow-hidden">
  <article class="d-flex align-items-center justify-content-center">
    <img
      src="assets/images/docspot-logo-nobg.png"
      style="cursor: pointer;"
      height="86"
      width="86"
      alt="Logo"
      [routerLink]="['/home']"
    />
  </article>
  <article class="d-flex align-items-center justify-content-center">
    <p class="fw-light" style="font-size: 1rem;">
      © 2024 DocSpot. All Rights Reserved.
    </p>
  </article>
</footer>
